{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-embed", "prettier-plugin-sql"],
  "embeddedSqlTags": ["sql.postgresql"],
  "embeddedSqlPlugin": "prettier-plugin-sql",
  "embeddedSqlParser": "postgresql",
  "language": "postgresql",
  "overrides": [
    {
      "files": ["**/*.js"],
      "options": {
        "parser": "babel"
      }
    }
  ]
}
